<h1>Edit Race</h1>

<!-- action: url to which we want to send data -->
<!-- method: http method we want to use -->
<!-- :name, :speed, :alignment, :age, :size, :size_description-->
<%= render 'form', race: @race, action: :edit %>