<!-- Getting some kind of miussing partial error - fix later
Code moved directly into application.html.erb


<div>
    <nav>
        <ul>
            <li><img src="assets/temp_logo.png"><li>
            <%if !logged_in?%>
                <li><button><a href="<%= new_session_url %>">Sign In </a></button></li>
            <%else%>
                <li><%= logout_button %></li>
            <%end%>
        </ul>
    </nav>
</div>>

-->
        